language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"

install:
  - python setup.py install

script:
  - python setup.py nosetests
  - pip install hacking
  - flake8

after_success:
  - pip install coveralls
  - coveralls
